.create-employee {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin: 2rem;
    cursor: default;
  }

  .form-container {
    width: 40%;
    margin: 0 auto;
    background-color: #d7ddbb;
    border-radius: 0.5rem;
    margin: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); /* offset-x | offset-y | blur-radius | spread-radius | color */

    .field-row {
      display: flex;
      justify-content: space-between;
      padding: 1.5rem;
    }

    .field {
      display: flex;
      flex-direction: column;
      width: 45%;

      input {
        padding: 0.2rem;
      }

      select {
        padding: 0.2rem;
      }
    }

    label {
      padding-bottom: 0.5rem;
    }

    .address {
      margin: 1rem;
    }

    .form-btn {
      background-color: #5a6f08;
      border: none;
      padding: 1rem;
      border-radius: 0.3rem;
      color: #ffffff;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      cursor: pointer;

      &:hover {
        background-color: #93ad18;
      }
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
