.delete-item {
  display: flex;
  align-items: center;
  flex-direction: column;

  .delete-btn {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 1rem;

    button {
      padding: 0.3rem;
      border: none;
      color: #fff;
      border-radius: 0.3rem;
      min-width: 100px;
    }
  }
}
