.employees-header {
  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    cursor: default;
    padding-top: 3rem;

    @media screen and (max-width: 768px) {
      padding: 1.5rem;
    }
  }

  .show-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.2rem 0;

    .filter {
      display: flex;
      gap: 0.5rem;
      font-weight: 600;

      .filter-select {
        cursor: pointer;
      }

      p {
        cursor: default;
      }
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      padding-top: 1rem;
    }
  }
}

.table-container {
  max-width: 100%; /* Définir une largeur maximale pour le conteneur */
  overflow-x: auto; /* Ajouter un overflow horizontal pour activer la barre de défilement */
  overflow-y: hidden;


  .employees-table {
    border-collapse: collapse; /* Pour fusionner les bordures */
    width: 100%;
    overflow-x: auto; /* Activer la barre de défilement horizontal si nécessaire */
    white-space: nowrap; /* Empêcher le texte de se rompre sur plusieurs lignes */

    th,
    td {
      border: none;
      padding: 8px;
      text-align: left;
      cursor: default;
      max-width: 200px;
      overflow: hidden;

      .flex-jcc-aic {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
      }

      .up-down {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1.5rem;
        margin-left: 0.5rem;
        color: rgb(208, 208, 208);

        .sorted-icon {
          color: var(--darkGreen);
        }
      }
    }

    th:hover {
      background-color: var(--hoverBackgroundColor);
      color: #ffffff;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    td:hover {
      background-color: #f0f0f0;
      filter: saturate(0.3);
      mix-blend-mode: multiply;
    }

    tbody {
      border-top: 1px solid #d6d6d6;
      border-bottom: 1px solid #d6d6d6;
    }

    .table-row-odd {
      background-color: #ffffff;
    }

    .table-row-even {
      background-color: #d7ddbb;
    }

    .sorted-column {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(
          --sortedColumnBackgroundColor
        ); /* Utilisation de la variable CSS */
        filter: saturate(0.3);
        mix-blend-mode: multiply; /* Applique l'effet de mélange pour l'overlay */
        pointer-events: none; /* Évite d'interférer avec les interactions de la colonne en-tête */
        z-index: 1;
      }
    }
  }
}

.flex-pagination {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 1.2rem 0;

  .entries-info {
    cursor: default;
  }

  .pagination {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    button {
      cursor: pointer;
      padding: 0.3rem 0.6rem;
      border: none;
      background-color: #d7ddbb;
      color: #ffffff;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--hoverBackgroundColor);
        color: #ffffff;
      }
    }

    button.current-page {
      font-weight: bold;
      background-color: #5a6f08;
      color: white;

      &:hover {
        background-color: #93ad18;
        // border-color: #93ad18;
      }
    }

    .previous-next {
      background-color: #5a6f08;
      color: #ffffff;
    }

    @media screen and (max-width: 768px) {
      padding-top: 1rem;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding-top: 1rem;
    text-align: center;
  }
}

.link-employee {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  border-radius: 0.5rem;

  a {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #5a6f08;
    border-radius: 0.5rem;
    padding: 1rem;
    text-decoration: none;
    color: #ffffff;

    &:hover {
      background-color: #93ad18;
    }
  }
}
