.modal-screen {
  position: fixed;
  // top: -100%; /* Initial position */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 0.3s ease-in-out; /* Transition for smooth animation */
  z-index: 1000;

  &.active {
    top: 0; /* Final position for active state */
  }

  .modal-content {
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 60%;
    animation: slideInFromTop 0.5s ease-in-out;
    color: #000;

    .close-modal-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: fit-content;
      right: 1.3rem;

      @media screen and (max-width: 768px) {
        position: relative;
        right: -0.5rem;
      }

      button {
        color: #ffffff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        font-size: 1.3em;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;

        &:hover {
          transition: background-color 0.3s ease;
          transform: scale(1.2);
        }
      }
    }

    .children-content {
      background-color: white;
      padding: 1rem;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      width: 80%;
      max-height: 80vh;
      overflow-y: auto;
      margin: auto;

      .option-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        button {
          border: none;
          background-color: transparent;
          font-size: 1.1rem;
        }

        button.rotation {
          transform: rotate(90deg);
        }
      }

      @media screen and (max-width: 768px) {
        width: 95%;
      }
    }

    @media screen and (max-width: 768px) {
      width: 95%;
    }
  }
}
