.search {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;

    label {
      width: 100%;
      max-width: 250px;
    }

    input {
      padding: 0.3rem;
      width: max-content;
      min-width: 250px;
      background-color: #fbfbfb;
      border: 1px solid grey;

      &:hover {
        background-color: #ffffff;
      }
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      padding-top: 1rem;
      text-align: center;
      width: 90%;
    }
  }